<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	<import resource="spring-data.xml" />
	
	
	<context:component-scan base-package="fi.softala.tunnit" />

	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/views 
		directory -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven />
	
	 <mvc:default-servlet-handler/>
	
	<!-- Forwards requests to the "/" resource to the "welcome" view -->
	<mvc:view-controller path="/" view-name="aloitus" />
	
	<!-- location of static content (images, js and css files) -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<!-- SPRING SECURITY -->
	
	<sec:http auto-config="true" use-expressions="true">
	
		<sec:intercept-url pattern="/sisalto/admin/**" access="hasRole('admin')" />
		<sec:intercept-url pattern="/sisalto/*" access="isAuthenticated()" />
		<sec:intercept-url pattern="/*" access="permitAll" />
		
		<sec:form-login
			login-page="/Login"
			default-target-url="/sisalto/lomake"
			authentication-failure-url="/loginfail" />
		
		<sec:logout logout-success-url="/logout"/>
	
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:password-encoder ref="encoder" />
			<sec:jdbc-user-service data-source-ref="dataSource"
			users-by-username-query="SELECT kayttajatunnus, salasana from KAYTTAJAT where kayttajatunnus=? "
			authorities-by-username-query="SELECT u.kayttajatunnus, a.rooli FROM KAYTTAJAT u JOIN KAYTTAJAOIKEUDET ua ON (u.id = ua.KAYTTAJAT_kayttaja_id) JOIN OIKEUDET a ON (a.oikeudet_id = ua.oikeus_id) WHERE u.kayttajatunnus = ?"
			/>
		</sec:authentication-provider>
	</sec:authentication-manager>

	<sec:global-method-security pre-post-annotations="enabled" />
	
</beans>
